@media screen and (min-width: 800px) {
    .table {
        width: 100%;
    }

    .subjectTable__filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;
        gap: 12px;
    }
}

@media screen and (max-width: 800px) {
    .table {
        width: 100%;
    }

    .subjectTable__filters {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 12px;
    }
}

.subjectTable {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 24px;
}